<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS Articles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <script type="module" crossorigin src="{% static 'articles/dist/assets/index-CXhAIs4H.js' %}"></script>
    <link rel="stylesheet" href="{% static 'articles/dist/assets/index-B0jTh3y_.css' %}">
</head>
<body>
    <div id="root"></div>
</body>
</html>
